// colors
$white: #FFFFFF;
$black: #000000;

$primary-blue: #0E85F3;
$primary-green: #438945;
$primary-red: #F52C8D;

$font-color-light: #F7F4E9;
$font-color-gray: #6E798C;
$font-color-dark: #081F32;

$background-color-gray: #E5E5E5;
$background-color-dark-gray: #b1adad;
$background-color-dark: #1D1D2C;
$background-color-blue: #9aceff;

$divider-color-gray: #E1E1E1;

$article-color-blue: rgb(165, 226, 226);
$article-color-purple: rgb(205, 186, 221);
$article-color-green: rgb(210, 250, 207);
$article-color-orange: rgb(240, 224, 204);
$article-color-pink: rgb(250, 207, 213);

$positions-item-color-green: rgb(116, 181, 116);


//box-shadow
$standard-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
$card-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

// border-radius
$standard-border-radius: 8px;

//paddings
$padding-desktop: 20px;
$padding-mobile: 10px;

// container widths
$container-large-desktop-width: 1588px;
$container-desktop-width: 1276px;

// breakpoints
$media-large-desktop: 1480px;
$media-small-desktop: 1200px;
$media-tablet: 1024px;
$media-mobile : 767px;
$media-mobile-small : 560px;
